.cart3Container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 25px;
  column-gap: 25px;
}

.cart3Container > div {
  border-radius: 20px;
  background-color: #efefef;
  padding: 50px 30px;
}

.cart3Container > .priceDetails {
  height: fit-content;
}

.cart3Container > .priceDetails > button {
  background: #000000;
  border-radius: 7px;
  width: 100%;
  color: white;
  padding: 8px;
  margin-top: 30px;
}

.cart3Container > .paymentContainer > .savedUpi > div > label {
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px 0;
  cursor: pointer;
}

.cart3Container > .paymentContainer > .savedUpi > div > label:last-child {
  border-bottom: 2px solid #8c8c8c;
}

.cart3Container > .paymentContainer > .savedUpi > p:first-child {
  padding-bottom: 10px;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > label
  > div:nth-child(3) {
  display: flex;
  align-items: center;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > label
  > div:nth-child(3)
  > img {
  width: 40px;
  margin-right: 10px;
}

.cart3Container > .paymentContainer > p:first-child {
  border-bottom: 2px solid #8c8c8c;
  padding-bottom: 20px !important;
}

.cart3Container > .paymentContainer > .savedUpi,
.cart3Container > .paymentContainer > .savedCards,
.cart3Container > .paymentContainer > .otherPaymentOptions {
  padding: 30px 0 0 0;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > label
  > div:nth-child(3)
  > p {
  font-size: 14px;
  line-height: 16px;
}

.cart3Container
  > .paymentContainer
  > .savedUpi
  > div
  > label
  > div:nth-child(3)
  > p:last-child {
  margin-left: 30px !important;
}

.cart3Container > .paymentContainer > .savedCards img {
  width: 180px;
}

.cart3Container > .paymentContainer > .savedCards > div {
  display: flex;
  column-gap: 100px;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #8c8c8c;
}

.cart3Container > .paymentContainer > .savedCards > div > label {
  display: flex;
  column-gap: 20px;
  cursor: pointer;
}

.cart3Container > .paymentContainer > .otherPaymentOptions > p {
  padding-bottom: 20px;
}

.cart3Container > .paymentContainer > .otherPaymentOptions > label {
  display: flex;
  column-gap: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #dbdbdb;
  align-items: center;
  cursor: pointer;
}

.cart3Container > .paymentContainer > .otherPaymentOptions {
  font-size: 14px;
  line-height: 16px;
}

.cart3Container > .paymentContainer > .otherPaymentOptions > label:last-child {
  padding-bottom: 0;
  border: none;
}

input[name="paymentOption"] {
  display: none; /* Hide the default radio button */
}

.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  /* top: 4px; */
}

input[name="paymentOption"]:checked + .custom-radio::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}
