#Content .productSelect, #Content .categorySelect {
  max-width: 300px;
}

#Content .productSelect div, #Content .categorySelect div {
  font-size: 18px;
}

input[id="NameDesign"] {
  width: 30%;
  padding: 6px 0;
  border-style: none;
  border-bottom: 1px solid #a5a5a5;
  font-size: 14px;
}

#Step1-button {
  width: fit-content;
  margin-top: 2vh;
  color: #ffffff;
  background: #b7b7b7;
  border-style: none;
  border-radius: 5px;
  padding: 2px 15px;
  display: block;
}
