.homeMiddleContainer {
  margin: 0 0 0 20px;
}

.dealBox {
  width: 300px;
}

.womenBox {
  width: 230px;
}

.womenBox img {
  width: 220px;
}

.womenBox > div {
  padding: 0px 25px;
}

.womenBox > div > p > span:first-child {
  font-weight: 700;
}
.womenBox > div > p > span:last-child {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}

.fabricBox {
  width: 330px;
}

.fabricBox > div {
  width: 320px;
  height: 180px;
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 40.54%,
      #000000 100%
    ),
    url("../../assets/images/Fabric1.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.fabricBox > div > p:first-child {
  color: white;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.225em;
  padding: 10px;
}

.seasonalBox {
  position: relative;
}

.seasonalBox > div {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: transparent;
}

.seasonalBox > div > p:first-child {
  font-size: 40px;
  line-height: 60px;
  text-align: right;
  color: #ffffff;
  background: transparent;
  font-weight: 600;
}

.seasonalBox > div > p:last-child {
  font-size: 22px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  background: transparent;
  font-style: italic;
}

img[alt="Rectangle15"] + div > p:first-child {
  margin-bottom: 40px !important;
}

img[alt="Rectangle16"] + div > p:first-child {
  margin-bottom: 50px !important;
}

img[alt="Rectangle14"] + div > p:first-child {
  font-size: 70px;
  line-height: 90px;
  text-align: right;
  color: #ffffff;
  background: transparent;
  font-weight: 600;
}

img[alt="Rectangle14"] + div > p:last-child {
  font-size: 35px;
  line-height: 70px;
  text-align: right;
  color: #ffffff;
  background: transparent;
  font-style: italic;
}
